<div class="flex flex-row min-h-screen">
  <!-- Sidebar -->
  <div class="sm:h-screen w-64 lg:w-96 bg-gray-800 p-6 mt-17">
    <h1 class="text-2xl font-semibold text-white">Admin Dashboard</h1>
    <ul class="mt-8">
      <li><a href="#" class="text-gray-400 hover:text-white">Dashboard</a></li>
      <li><a href="#" class="text-gray-400 hover:text-white">Users</a></li>
      <li><a href="#" class="text-gray-400 hover:text-white">Settings</a></li>
    </ul>
  </div>
  <!-- Main Content -->
  <div class="flex-1 p-8">
    <%= render 'clients' %>
    <%= render 'rooms' %>
    <!--
    <h2 class="text-3xl font-semibold">Welcome to the Dashboard</h2>
    <div class="mt-4">
      <div class="grid grid-cols-3 gap-6 text-white">
        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold">Total Users</h3>
          <p class="text-3xl font-bold">1,500</p>
        </div>
        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold">Revenue</h3>
          <p class="text-3xl font-bold">$21,500</p>
        </div>
        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold">Pending Orders</h3>
          <p class="text-3xl font-bold">43</p>
        </div>
      </div>
    </div>-->
  </div>
</div>