<h1 class="mt-20 py-4 text-blue-600 text-5xl font-bold ml-4">Rooms</h1>
<div class="w-32 ml-4 border border-black-200 bg-blue-100 text-center">
  <%= link_to "Book a room", new_client_path %>
</div>
<table class="min-w-full table-auto border-collapse border border-gray-200">
  <thead>
    <tr class="bg-gray-100">
      <th class="border border-gray-200 px-4 py-2">
        Our Houses
      </th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room|%>
      <tr>
        <td class="border border-gray-200 px-4 py-2"><a href="/rooms/<%= room.id%>"><%= room.title %></a></td>
      </tr>
    <%end%>
  </tbody>
</table>
