<section class="w-full mt-16 bg-amber-100">
  <div class="px-20 w-fit lg:w-3xl py-5 lg:py-32">
    <h1 class="font-bold text-3xl text-start">Make a reservation</h1>
    <%= render 'form'%>
  </div>
</section>
